FORMAT: 1A
HOST: https://api.internet.com/

# ASAP Reseller API
The ASAP Reseller API is a *platform* offering from Afilias. This document is a living document, a work in progress. 

# Group Token
General token authentication and handling.

## Token Generation [/v1/auth/token]

### Request new web token [POST]
Request a new Json Web Token (JWT) either as a guest user or when logging in. 

+ Request

  + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
  
  + Body 
  
            { "resellerKey": "dfservev35gegsdfsdfbgbr", "email": "bob@example.com", "password": "secret1" }
        
+ Response 201 (application/json)

        {  
                "data": {
                        "token": "eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E", 
                        "id": "u_4o3irjasofij" 
                }
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 101,
                        "message": "Login failed"
                }]
        }
        

### Force JWT token expiration [DELETE]
Logout forcing the user's JWT to expire and be revoked from usage. 

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204
        
## Token Refresh [/v1/auth/token/refresh]

### Update JWT session to avoid expiration [POST]
Request a new web token which has a new expiry further into the future.

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        {  
                "data": {
                        "token": "abJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd44", 
                        "id": "u_4o3irjasofij"
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

# Group Users

## Users [/v1/users]

### Create a new user [POST]
Creating a new user will map the guest user token currently in user to the new user. 

+ Request


  + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
  
    + Body
    
            { "resellerId": "r_35gegsdfsr", "email": "bob@example.com", "password": "secret1", "firstName": "Bob", "lastName": "Smith" }
        
+ Response 201 (application/json)

        {  
                "data": {
                        "token": "ascabGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbajsdfhIZCrayNoVD47DEuFl1Qveqd2E", 
                        "id": "u_4o3irjasofij"
                }
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 103,
                        "message": "Email address already in use"
                }]
        }
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

### List all users [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 201 (application/json)

        {  
                "data": [{
                          "id": "u_145f4h2b", "firstName": "Alice", "lastName": "Wonderland", "email": "alice@madhatter.com"
                }, {
                          "id": "u_94gh4627", "firstName": "Bob", "lastName": "Blob", "email": "bob@example.com"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }


        
## User Management [/v1/users/{id}]

### Retrieve specific user [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {  
                "data": {
                        "id": "u_145f4h2b", "firstName": "Adam", "lastName": "Jones", "email": "ajones@yahoo.com", "address": "1 Main Street", "city": "Cork", "state": "Munster", "zip": "123", "country": "Ireland", "phoneNumber": "23436345345"
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

### Update user record, or change the status of the user [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "firstName", "Sam", "lastName": "Spade", "email": "bob@example.com", status:"suspended"}
        
+ Response 200

        "data": {
                        "token": "ascabGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbajsdfhIZCrayNoVD47DEuFl1Qveqd2E", 
                        "id": "u_4o3irjasofij"
                }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 304 (application/json) 

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }
        
## User Saved Cards [/v1/users/{id}/cards]

### Retrieve specific user's saved card details [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "c_3efgd34t", "censoredCardNumber": "xxxx xxxx xxxx 3526"
                }, {
                        "id": "c_4b3asdft", "censoredCardNumber": "xxxx xxxx xxxx 7385"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }
        
## User Saved Cards [/v1/users/{id}/cards/{card_id}]

### Delete user's saved card details [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 105,
                        "message": "Card not found"
                }]
        }

# Group Passwords
Password handling and reset.

## Forgotten Password Email Request [/v1/password/change]

### User Requests to change the password [PUT]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body
    
            { "password":"secret1", "oldPassword":"secret2" }
        
+ Response 201

+ Response 304

+ Response 400 (application/json) 

        {
                "errors": [{  
                        "code": 106,
                        "message": "Invalid Credentials"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Forgotten Password Email Request [/v1/password/forgot]

### Request forgotten email password email [POST]

+ Request

    + Body
    
            { "email": "bob@example.com" }
        
+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Reset Forgotten Password [/v1/password/reset]

### Forgotten password verified change request [PUT]

+ Request
    
    + Body
    
            { "verificationKey": "t5fgftehved24tege", "password": "secret2" }
        
+ Response 200

        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 107,
                        "message": "Invalid Verification key"
                }]
        }

# Group Verification
New user verification of the **ASAP API**

## Verify New User [/v1/verification]

### Complete new user creation by verifying email address [POST]
Verificaion key is sent to new users as part of a web link. Ths key is sent to the API to verify the new user's email address. 

+ Request

    + Body
    
            { "verificationKey": "he4!!?#5w3getgwet%^£TG121DFG", "email": "bob@example.com", "password": "secret1"}

+ Response 200 (application/json)


+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 107,
                        "message": "Invalid Verification key"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 108,
                        "message": "Account already active"
                }]
        }
+ Response 400 (application/json) 

        {
                "errors": [{  
                        "code": 106,
                        "message": "Invalid Credential"
                }]
        }
        
## Resend Verification Link [/v1/verification/resend]

### Request to resend activation email with verification link [POST]
Generate a new email verification key and send an email containing it.

+ Request

    + Body
    
            { "email": "bob@example.com" }

+ Response 200

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 109,
                        "message": "Invalid Email"
                }]
        }

# Group Resellers
Reseller related resources of the **ASAP API**

## Create Reseller [/v1/resellers]

### Create a new reseller [POST]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "name": "Web.com", ... }

+ Response 201 (application/json)

        {  
                "data": {
                        "id": "r_th4y4dgfehth" 
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

### Retrieve reseller records [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "r_zxfveberbdfv", "name": "Web.com", ...
                }, { 
                        "id": "r_bcxbthrdfggs", "name":, "1&1", ...
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Specific reseller [/v1/resellers/{reseller_id}]

### Retrieve reseller record [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "id": "r_zxfvebererfdfbdfv", "name": "Web.com", ...
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 110,
                        "message": "Reseller not found"
                }]
        }

### Update reseller record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "2&2", ... }
        
+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 110,
                        "message": "Reseller not found"
                }]
        }

## List sub-resellers [/v1/resellers/{reseller_id}/sub-resellers]

### List all direct sub-resellers [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "r_dfb3gwfsdfefw", "name": "Web.com", ...
                }, {
                        "id": "r_awrfedbe43tbe", "name": "1&1", ...
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

# Group Products

Product related resources of the **ASAP API**

## Product List [/v1/products]

### List all products [GET]
Retrieve global product list.

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "p_asfar34t4f2f", "name": "TLD", "description": ".info", "category": "business", "price": "9.99"
                }, {
                          "id": "p_fgffr3134ddb", "name": "TLD", "description": ".com", "category": "business",  "price": "9.99"
                }, {
                          "id": "p_abbar34t4ffn", "name": "TLD", "description": ".organic", "category": "commercial",  "price": "19.99"
                }, {
                          "id": "p_q35a034t4f4m", "name": "TLD", "description": ".io", "category": "personal",  "price": "49.99"
                }, {
                          "id": "p_zsfau344h62b", "name": "TLD", "description": ".mobi", "category": "business",  "price": "19.99"
                }, {
                          "id": "p_adtrgt55353q", "name": "goMobi", "description": "Website builder package", "category": "", "price": "20.00"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Retrieve Specific Product [/v1/products/{product_id}]

### Get a specific product [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": {
                          "id": "p_asfar34t4f2f", "name": "TLD", ...
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 111,
                        "message": "Product not found"
                }]
        }

### Update a specific product [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "name": "TLD", ... } 

+ Response 200 (application/json)

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 111,
                        "message": "Product not found"
                }]
        }
        
# Group Reseller Products
Manage reseller configured products

## List resellers products [/v1/resellers/{reseller_id}/products]

### List all reseller products [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "p_asfar34t4f2f", "name": "TLD", "description": ".info", "category": "business", "price": "9.99"
                }, {
                          "id": "p_fgffr3134ddb", "name": "TLD", "description": ".com", "category": "business",  "price": "9.99"
                }, {
                          "id": "p_abbar34t4ffn", "name": "TLD", "description": ".organic", "category": "commercial",  "price": "19.99"
                }, {
                          "id": "p_q35a034t4f4m", "name": "TLD", "description": ".io", "category": "personal",  "price": "49.99"
                }, {
                          "id": "p_zsfau344h62b", "name": "TLD", "description": ".mobi", "category": "business",  "price": "19.99"
                }, {
                          "id": "p_adtrgt55353q", "name": "goMobi", "description": "Website builder package", "category": "", "price": "20.00"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Manage resellers products [/v1/resellers/{reseller_id}/products/{product_id}]

### Update reseller product [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "id": "p_asdf3fcv", "name": "goMobi", ... }

+ Response 200 (application/json)

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 111,
                        "message": "Product not found"
                }]
        }

# Group Bundles

## Bundles List [/v1/products/bundles]

### List all bundles [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "b_asffreb4432", "title": "Bundle #1", ...
                }, {
                          "id": "b_a34t3gb2668", "title": "Bundle #2", ...
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

### Create new bundle [POST]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "title": "The Bundle", ... }

+ Response 201 (application/json)

        {  
                "data": {
                        "id": "b_ryrh45y4tth" 
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Update Bundle [/v1/products/bundles/{bundle_id}]

### Update an existing bundle [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "title": "The Bundle", ... }
            
+ Response 200 (application/json)

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 112,
                        "message": "Bundle not found"
                }]
        }
        
# Group Reseller Bundles
Manage reseller configured bundles

## List resellers bundles [/v1/resellers/{reseller_id}/bundles]

### List all reseller bundles [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "b_wfsdfefw", "name": "Startup Bunble", ...
                }, {
                        "id": "b_dbe43tbe", "name": "Mega Bundle", ...
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Manage resellers bundles [/v1/resellers/{reseller_id}/bundles/{bundle_id}]

### Update reseller bundles [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "id": "b_asdf3fcv", "name": "Mini Bundle", ... }

+ Response 200 (application/json)

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 112,
                        "message": "Bundle not found"
                }]
        }

# Group Cart

## Manage Cart Coupons [/v1/users/{user_id}/cart/coupon]

### Add coupon code to user's cart [POST]
Add a coupon code to the user's persistent cart.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "coupon": "n4wnjgw9" }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 113,
                        "message": "Coupon unknown or not applicable"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Manage Cart [/v1/users/{user_id}/cart/items]

### Add to user's cart [POST]
Add a line item to the user's persistent cart.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "p_asdffegdf", "value": "domainname.shop", "quantity": 1, "whoisPrivacy": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }
    
### Retrieve a user's cart [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "i_45g3rsdfsdfsq", "packageId": "p_dfg34gwedaf", "value": "gomobi.mobi", "quantity": 5, "price": "49.99"
                }, {
                        "id": "i_asv5t3ggsdwfd", "packageId": "p_sf45grtbdfb", "value": "wholefoods.organic", "quantity": 1, "price": "9.99"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Manage Cart Items [/v1/users/{user_id}/cart/items/{item_id}]

### Update item in user's cart [PUT]
Update the quanity value of a cart line item. 

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "quantity": 5 }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 114,
                        "message": "Item Not Found"
                }]
        }
        
### Remove item from user's cart [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E


+ Response 204

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 114,
                        "message": "Item Not Found"
                }]
        }
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }
        
## Reserving Domains [/v1/users/{user_id}/cart/items/{item_id}/reserve]

### Reserve a domain name [POST]
Register and reserve a domain name on the user's behalf, requires user to be logged in (not a guest user).

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Cart Checkout [/v1/users/{user_id}/cart/checkout]

### Submit order and get order id [POST]
Begin ordering process, generate an order id and confirm cart line items. 

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "orderId": "o_fvdfb3gervsf2es" 
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Cart Complete [/v1/users/{user_id}/cart/complete]

### Send payment details and finalize purchase [POST]
Transmit encrypted card details generated with Bluesnap front-end library and user billing data to complete order process.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { 
                "firstName": "Bob", 
                "lastName": "Dobbs", 
                "phoneNumber": "34534535345324",
                "address": "1 Main Street",
                "city": "Los Angeles",
                "state": "California",
                "zipCode": "23423", 
                "savedPaymentID": "123",
                "encryptedCardNumber": "xxxxxxxxxxxxxxx", 
                "encryptedCardCcv": "xxx" 
            }

+ Response 200 (application/json)

        {  
                "data": {
                        "paymentId": "bluesnap_12345" 
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Manage Cart [/v1/users/{userId}/cart/applycoupon/{couponCode}]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E


+ Response 200 (application/json)
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 115,
                        "message": "Invalid Coupon"
                }]
        }

# Group Package

## List Active Package Groups of the Reseller [/v1/packagegroup/active]

### Returns All active Package groups to the Reseller [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
                "data": [
                    { "id":"u_jsdf", groupName:"Group Name1 ", status:"active", html:"<html>..</html>"},
                    { "id":"u_njsdf", groupName:"Group Name2 ", status:"active", html:"<html>..</html>"}, ...]
        }

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Package Groups [/v1/packagegroup/]

### Returns All Package group available to the Reseller [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
                "data": [
                    { "id":"u_jsdf", groupName:"Group Name1 ", status:"active", html:"<html>..</html>"},
                    { "id":"u_njsdf", groupName:"Group Name2 ", status:"Inactive", html:"<html>..</html>"}, ...]
        }

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
### Reseller Adds the Package Group [POST]

+ Request
    
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { id:"u_kaldk", "status:"active", html:"<HTML>....</HTML>" }
            

        
+ Response 200

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }


## Retrieve Package Group [/v1/packagegroup/{packageGroupId}]
### Retrieve Package Group [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
                "data": { "id":"u_jsdf", groupName:"Reseller Package Group Name1 ", status:"active", html:"<HTML>....</HTML>"}
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 116,
                        "message": "Bad Request"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

### Reseller Updates the Status and HTML of Package Group [PUT]

+ Request
    
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { id:"u_kaldk", "status:"active", html:"<HTML>....</HTML>" }

+ Response 200

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }


## Packages [/v1/package/]

### Returns All Packages available to the Reseller [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
                "data": [
                    { "id":"u_jsdf", packageName:"Package Name 1", groupId:"jakjs", description:"description"},
                    { "id":"u_njsdf", packageName:"Package Name 2 ", description:"description"}]
        }

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Retrieve Package [/v1/package/{packageId}]

### Retrieve Package by Package Id [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
            "data": {"id":"u_jsdf", packageName:"Package Name1 ", groupId:"jakjs", description:"description", status:"active", resellerPrice:"29.32", customerPrice:"30.00"}
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 116,
                        "message": "Bad Request"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

###  Reseller Updates the Package [PUT]

+ Request
    
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { packageId:"u_kaldk", "status:"active", description:"lksajfalksd", resellerPrice:"29.32", customerPrice:"30.00"}

+ Response 200

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

###  Reseller Updates the Package [POST]

+ Request
    
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { packageId:"u_kaldk", "status:"active", description:"lksajfalksd", resellerPrice:"29.32", customerPrice:"30.00"}

+ Response 200

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## Retrieve Reseller Active Packages  [/v1/package/active]

### Retrieve Reseller Active Packages [GET]
Filters by Package Group Id (optional)

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
                {"id":"p_kjasdj"}

+ Response 200

        {  
            "data": [ {"id":"u_js23df", packageName:"Package Name1 ", groupId:"jakjs", description:"description", status:"active", resellerPrice:"29.32", customerPrice:"30.00"},
             {"id":"u_jsdf", packageName:"Package Name2 ", groupId:"32jakjs", description:"description1", status:"active", resellerPrice:"29.32", customerPrice:"30.00"}
             ...]
        }

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 1234
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
 
                        "message": "Token unknown or already expired"
                }]
        }


## UpSell Packages [/v1/package/{packageId}/upsells]

### Returns List of Packages [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

        {  
                "data": [
                    { "id":"u_jsdf", name:"Package Name", description:"Package Description", price:28.32 },
                    { "id":"u_jsdf", name:"Package Name", description:"Package Description", price:28.32 }, ...]
        }
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 118,
                        "message": "Package not found"
                }]
        }
        
# Group Wishlist

## Wistlist Management [/v1/users/{user_id}/wishlist]

### Add to wishlist [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "p_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }
            
+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

### Retrieve wishlist [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ...
                }, {
                        "id": "i_asv5t3ggsdwfd", "name": ".Organic Domain", "value": "wholefoods" ...
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

## Manage wishlist items [/v1/users/{user_id}/wishlist/{wish_id}]

### Update wishlist item [PUT]
Update quantity value of a wishlist line item.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "quanity": 23 }
            
+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

### Delete wishlist item [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

# Group Coupons

## Coupons [/v1/coupon]

### Create Coupon [POST]

+ Request

    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   
    + Body
    
            {code:"NY2015", description:"Description" value:"20", type:"Percentage/Fixed Amount", packageId:"Ukclksadnf", expiry:"20/9/2015:20:00", singleUse:true}

+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "12345"
                }]
        }
    
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 119,
                        "message": "Coupon code already exists"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }


### List Coupons [GET]

+ Request

    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   

+ Response 200 (application/json)

        "data": [ 
            {code:"NY2015", description:"Description" value:"20", type:"Percentage/Fixed Amount", packageId:"Ukclksadnf", expiry:"20/9/2015:20:00", singleUse:true},
            {code:"CM2014", description:"Description" value:"25", type:"Fixed Amount", packageId:"Ukclksadnf1", expiry:"25/12/2014:23:00", singleUse:false}
            ]
       
+ Response 204 (application/json) 

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

### Update Coupons [PUT]

+ Request

    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   
    + Body
    
            {code:"NY2015", description:"Description" value:"20", type:"Percentage/Fixed Amount", packageId:"Ukclksadnf", expiry:"20/9/2015:20:00", singleUse:true}

+ Response 200 (application/json)
            
            {code:"NY2015", description:"Description" value:"20", type:"Percentage/Fixed Amount", packageId:"Ukclksadnf", expiry:"20/9/2015:20:00", singleUse:true}

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 120,
                        "message": "Coupon Doesn't exist"
                }]
        }

### DELETE Coupons [DELETE]

+ Request

    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   
    + Body
    
            {code:"NY2015"}

+ Response 204 (application/json)
            

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 120,
                        "message": "Coupon Doesn't exist"
                }]
        }
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 121,
                        "message": "Coupon In use"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

## List user's orders [/v1/coupon/{couponCode}]

### Retrieve the coupon [GET]

+ Request

    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   

+ Response 200 (application/json)
                
            data: {code:"NY2015", description:"Description" value:"20", type:"Percentage/Fixed Amount", packageId:"Ukclksadnf", expiry:"20/9/2015:20:00", singleUse:true}

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 120,
                        "message": "Coupon Doesn't exist"
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

# Group Orders

## List user's orders [/v1/users/{user_id}/orders]

### Retrieve all user orders [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33", "description":"product name", "quantity":5, "price":"5.20", "discount":"20" 
                }, {
                        "id": "o_asv5t3ggsdwfd", "created": "2014-02-27 10:30:18",  "description":"product name", "quantity":5, "price":"5.20", "discount":"20" 
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

+ Response 204 (application/json) 
        
## Retrieve specific order [/v1/users/{user_id}/orders/{order_id}]

### Retrieve a specific user order [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33",  "description":"product name", "quantity":5, "price":"5.20", "discount":"20" 
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 104,
                        "message": "User not found"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 122,
                        "message": "Order item not found"
                }]
        }

# Group Domains

## Check Availability for Bulk Domain Search [/v1/domains/bulk-domain/]

### Check availability of specific domain [POST]
Type is live|claim

+ Request 
    
    + Body
    
            {"domain":["abc", "xyz.com",...], "tld":["com","info",...]}        

+ Response 200 (application/json)

        {  
                "data": [ {
                        "status": "Available", 
                        "domain":"abc.info"
                        "price": "9.99"
                        }, {
                        "status": "Not Available", 
                        "domain":"xyz.com"
                        }, {
                        "status": "Error", 
                        "domain":"xyz.info"
                        }, ...]
        }

+ Response 204 (application/json)
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 116,
                        "message": "Bad Request"
                }]
        }


## Check Availability [/v1/domains/{domain}/available]

### Check availability of specific domain [GET]

+ Response 200 (application/json)

        {  
                "data": {
                        "available": true, 
                        "price": "9.99"
                }
        }
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 116,
                        "message": "Bad Request"
                }]
        }

## Suggest - TLD Spin [/v1/domains/{query}/tld-spin]

### Retrieve list of domain suggestions [GET]
Fetch list of domain suggestions with various TLD's.

+ Response 200 (application/json)

        {
            "data": [{
                    "domain": "myshop.info",
                    "price": "12.99"
            }, {
                    "domain": "myshop.guru",
                    "price": "15.00"
            }, {
                    "domain": "myshop.red",
                    "price": "9.99"
            }]
        }
        
## Suggest - Domain & TLD Spin [/v1/domains/{domain}/domain-spin] 

### Retrieve list of domain suggestions [GET]
Fetch list of domain suggestions based tld, returns complete list if tld is empty


+ Response 200 (application/json)

        {
            "data": [{
                    "domain": "myshop.info",
                    "price": "12.99"
            }, {
                    "domain": "myshophome.info",
                    "price": "15.00"
            }, {
                    "domain": "myshopweb.organic",
                    "price": "9.99"
            }]
        }
        

### Retrieve list of domain suggestions [POST]
Fetch list of domain suggestions based tld, returns complete list if tld is empty

+ Request

    + Body
    
            {"tld":"organic"}
        
+ Response 200 (application/json)

        {
            "data": [{
                    "domain": "myshop.info",
                    "price": "12.99"
            }, {
                    "domain": "myshophome.info",
                    "price": "15.00"
            }, {
                    "domain": "myshopweb.organic",
                    "price": "9.99"
            }]
        }
        
## List TLD's [/v1/domain/tld-category]

### Retrieve list of TLD and respective Category [POST]
List includes supported TLD's and respective Category.


+ Request

    + Body
    
            {"tld":["HEALTH","MLS",...]}

+ Response 200 (application/json)

        {  
                "data": {
                    "tlds" : [{id:"4o3irjasofij", name:"info", catId:"1o3irjasofij", catName:"Business"}, {id:"3o3irjasofij", name:"club"}, {id:63o3irjasofij", name:"org", catId:"2o3irjasofij", catName:"Entertainment"},...]
                }
        }
        
        
+ Response 204 

## TMCH Lookup [/v1/domain/trademark/{lookupKey}]

### Get a trademark check response for the given lookup key [GET]
Returns claim id and the claim Dates.

+ Response 200 (application/json)

        {  
                "data": {
                     {"notBefore":"2014-07-17T12:00:00.0Z","id":"e9b9a8980000000000000075745","notAfter":"2014-07-19T12:00:00.0Z"}
                }
        }


## Domain Email Forwarding [/v1/domain/{domain}/email]

### Domain Email Forwarding [GET]

+ Response 200 (application/json)

        {  
                "data": {
                     {"from":"test@test.com","to":"test1@test.com"}
                     {"from":"test2@test.com","to":"test21@test.com"}
                }
        }
        



### Domain Email Forwarding [POST]


+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
    + Body
            
                {
                     {"from":"test@test.com","to":"test1@test.com"}
                     {"from":"test2@test.com","to":"test21@test.com"}
                }

+ Response 200 (application/json)

        {  
                "data": {
                     {"message": "Email forwarded succesfully"}
                     }
        }
        



## Domain Nameservers [/v1/domains/{domain}/child-nameservers]

### Add child name servers for the supplied domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "cnameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...]
            }
            
+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }



## List User Domains [/v1/users/{user_id}/domains]

### Retrieve list of user's domains [GET]
List includes active domains, reserved domains, transfer requests and pre-order domains.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {  
                "data": {
                    "active" : [{
                            "domain": "myshop.info",
                            "purchaseDate": "10/02/2010",
                            "expirationDate": "10/02/2011",
                            "whois": "Private",
                            "locked": false,
                            "autoRenew": true
                        },
                        {
                            "domain": "myshop.com",
                            "purchaseDate": "10/02/2010",
                            "expirationDate": "10/02/2013",
                            "whois": "Public",
                            "locked": true,
                            "autoRenew": false
                    }],
                    "transfers" : {
                        "pending": [{
                                "domain": "myshop.info",
                                "subscriptionLength": "1 Month",
                                "purchaseDate": "10/02/2010",
                                "status": "In Progress"
                            },
                            {
                                "domain": "myshop.com",
                                "subscriptionLength": "1 Month",
                                "purchaseDate": "10/02/2010",
                                "status": "Authorize transfer"
                        }],
                        "completed": [{
                                "domain": "myshop.ie",
                                "purchaseDate": "10/02/2010",
                                "completedDate": "12/03/2010"
                            },
                            {
                                "domain": "myshop.org",
                                "purchaseDate": "10/02/2010",
                                "completedDate": "12/03/2010"
                        }]
                    },
                    "reservations" : {
                        "pending":[{
                                "domain": "myshop.info",
                                "reservationDate": "10/02/2010",
                                "timeToBuy": 3,
                                "auto_renew": true
                            },
                            {
                                "domain": "myshop.com",
                                "reservationDate": "11/02/2010",
                                "timeToBuy": 5,
                                "auto_renew": true
                            }],
                        "expired": [{
                                "domain": "myshop.info",
                                "reservationDate": "10/02/2010",
                                "expiredDate": "10/02/2010"
                            },
                            {
                                "domain": "myshop.com",
                                "reservationDate": "11/02/2010",
                                "expiredDate": "10/02/2010"
                            }]
                    },
                    "preorders" : {
                        "pending":[{
                                "domain": "myshop.info",
                                "purchasedDate": "10/02/2010"
                            },
                            {
                                "domain": "myshop.com",
                                "purchasedDate": "10/02/2010"
                            }],
                        "expired": [{
                                "domain": "myshop.info",
                                "purchasedDate": "10/02/2010",
                                "expiredDate": "10/02/2010"
                            },
                            {
                                "domain": "myshop.com",
                                "purchasedDate": "10/02/2010",
                                "expiredDate": "10/02/2010"
                            }]
                    }
                }
        }
        
## Domain info [/v1/users/{user_id}/domains/{domain}]

### Retrieve full domain info, contacts, DNS records, nameservers, domain lock, etc [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "domain": "myshop.info",
                        "subscription_length": "1 Month",
                        "purchase_date": "10/02/2010",
                        "locked": true,
                        "auto_renew": true,
                        "nameservers": [
                            {
                                "nameserver": "ns1.idomains.com"
                            },
                            {
                                "nameserver": "ns2.idomains.com"
                            }
                        ],
                        "nameservers_default": [
                            {
                                "nameserver": "ns1.idomains.com"
                            },
                            {
                                "nameserver": "ns2.idomains.com"
                            }
                        ],
                        "transferCode":"+VL3;4-poo9{dYd1",
                        "DNS": [{
                            "id": "d_fg3qg4535y",
                            "type": "MX",
                            "content": "mx1.myshop.info",
                            "ttl": 300,
                            "priority": 10
                        },{
                            "id": "d_fg3qg4533x",
                            "type": "MX",
                            "content": "mx1.myshop.com",
                            "ttl": 300,
                            "priority": 10
                        },{
                            "id": "d_fg3qg4531s",
                            "type": "MX",
                            "content": "mx1.myshop.ie",
                            "ttl": 300,
                            "priority": 10
                        }],
                        "forwarding": [{
                            "id": "ru_asdfer345345",
                            "pointing": "http://www.myothershop.info",
                            "type": "MASKED",
                            "pageTitle": "Forwarding Page"
                        },{
                            "id": "ru_asdfer345344",
                            "pointing": "http://www.myothershop.info",
                            "type": "MASKED",
                            "pageTitle": "Forwarding Page"
                        },{
                            "id": "ru_asdfer345343",
                            "pointing": "http://www.myothershop.info",
                            "type": "MASKED",
                            "pageTitle": "Forwarding Page"
                        }],
                        "contacts": [{
                            "id": 123,
                            "type": "registrant",
                            "fullName": "Jonathan",
                            "organization": "Acme Inc",
                            "email": "example@gmailc.com",
                            "address": "2 La Touche House",
                            "street": "IFSC, Dublin 1",
                            "city": "Dublin",
                            "state": "Dublin",
                            "postalCode": "12345",
                            "country": "Ireland",
                            "phoneType": "Home",
                            "phoneNumber": "0862133343",
                            "phoneExtension": "",
                            "phoneCountryCode": "353",
                            "faxType": "Work",
                            "faxCountryCode": "353",
                            "faxNumber": "17918569",
                            "faxExtension": "",
                            "organisation": "dotMobi",
                            "contactRegistrant": true,
                            "contactAdministrative": false,
                            "contactTechnical": false,
                            "contactBilling": false
                        },{
                            "id": 1234,
                            "type": "registrant",
                            "fullName": "Jonathan",
                            "organization": "Acme Inc",
                            "email": "example@gmailc.com",
                            "address": "2 La Touche House",
                            "street": "IFSC, Dublin 1",
                            "city": "Dublin",
                            "state": "Dublin",
                            "postalCode": "12345",
                            "country": "Ireland",
                            "phoneType": "Home",
                            "phoneNumber": "0862133343",
                            "phoneExtension": "",
                            "phoneCountryCode": "353",
                            "faxType": "Work",
                            "faxCountryCode": "353",
                            "faxNumber": "17918569",
                            "faxExtension": "",
                            "organisation": "dotMobi",
                            "contactRegistrant": true,
                            "contactAdministrative": false,
                            "contactTechnical": false,
                            "contactBilling": false
                        }],
                        "domainHosts": [{
                            "id": 1,
                            "nameserver": "http://www.myothershop.info",
                            "ip": "192.168.1.112"
                        },{
                            "id": 2,
                            "nameserver": "http://www.myothershop.info",
                            "ip": "192.168.1.111"
                        }]
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Update full domain info, contacts, DNS records, nameservers, domain lock, etc [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            "data": { "domain": "myshop.info", ... }
        
+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        

## Auto renew a domain [/v1/domains/{domain}/autorenew]

### Auto Renew domain [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "renew": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
   
### Auto Renew domain [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E


+ Response 200

                "data": { "renew": true }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        

## Enable or Disable whoisprivacy [/v1/domains/{domain}/whoisprivacy]

### update whoisprivacy [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

             { "whoisprivacy": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
 

 
### update whoisprivacy [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E


+ Response 200

                "data": { "whoisprivacy": true }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        

## Renew a domain [/v1/domains/{domain}/renew]

### Renew a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

             { "years": 1 }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
 
## Register a domain [/v1/domains/{domain}/register]

### Register a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

             { "years": 1 }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
 
 
## Transfer a domain [/v1/domains/{domain}/transfer]

### Transfer a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

             { "years": 1, epp:"kjashd" }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Delete a pending domain transfer request [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 123,
                        "message": "Domain transfer request not found"
                }]
        }
 
## Reserve a domain [/v1/domains/{domain}/reserve]

### Reserve a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Remove a pending domain reservation [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 124,
                        "message": "Domain reservation not found"
                }]
        }
 
## Preorder a domain [/v1/domains/{domain}/preorder]

### Preorder a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Remove a pending domain preorder [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 125,
                        "message": "Domain Pre-order not found"
                }]
        }
 
## Get EPP Code [/v1/domains/{domain}/epp]

### Get the eppAuthCode [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E


+ Response 200
            
                "data": {
                        "eppCode": "asdasd"
                }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
  
## Move a domain [/v1/domains/{domain}/move]

### Move a domain [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

  + Body

            { "email": "test@test.com" }

+ Response 200
            

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
 
       
        
## Domain lock [/v1/domains/{domain}/lock]

### Set current status of domain lock [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "lock": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 400 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

## Domain Auto Renew [/v1/domains/{domain}/auto-renew]

### Set current status of auto renew [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "autoRenew": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

## Domain Whois Privacy [/v1/domains/{domain}/whois-privacy]

### Set current status of whois privacy [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

   + Body

            { "whoisPrivacy": true }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

## Domain Contacts Management [/v1/domains/{domain}/contacts/{id}]

### Update domain contact [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {"registrantKey": "DKAJSHDSD", "administrativeKey": "DKAJSHDSD", "billingContactKey": "DKAJSHDSD", "technicalContactKey": "DKAJSHDSD"}

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 126,
                        "message": "Contact not found"
                }]
        }
        
## Delete Domain [/v1/domains/{domain}]

### Delete domain contact [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
   

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }


# Group URL Forwarding

## Manage domain fowarding rules [/v1/domains/{domain}/forwarding]

### Create forwarding rule record [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "pageTitle": "Forwarding Page"
            }

+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "12345"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
    
### Retrieve list of URL forwarding rules [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "rules": [
                                {
                                        "id": "ru_34effrth45y4",
                                        "pointing": "http://www.myothershop.info",
                                        "type": "MASKED",
                                        "pageTitle": "Forwarding Page"
                                }
                        ]
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

## Manage forwarding rule record [/v1/domains/{domain}/forwarding/{id}]

### Update forwarding rule record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "id": "ru_asdfer345345",
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "pageTitle": "Forwarding Page"
            }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

### Delete forwarding rule record [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

# Group Domain Nameservers

## List [/v1/domains/{domain}/nameservers]

### Create nameserver record [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {[
                "nameserver": "ns1.idomains.com"
            ]}
            
+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "ns_th4y4dgfehth"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Retrieve list of domain Nameservers [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "hosts": [
                                {
                                    "nameserver": "ns1.idomains.com"
                                },
                                {
                                    "nameserver": "ns2.idomains.com"
                                }
                        ]
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
## Manage Domain Nameservers [/v1/domains/{domain}/nameservers/{id}]

### Update Domain Nameserver [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "nameserver": "ns3.idomains.com"
            }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

### Delete Domain Nameserver [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
# Group Domain Hosts

## List [/v1/domains/{domain}/hosts]

### Create Domain Host Record [POST]


+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {[
                "nameserver": "idomains.com",
                "ip": "127.0.0.1"
            ]}
            
+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "dh_th4y4dgfehth"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
### Retrieve list of domain Hosts [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "hosts": [
                                {
                                    "id": 1,
                                    "nameserver": "idomains.com",
                                    "ip": "127.0.0.1"
                                },
                                {
                                    "id": 2,
                                    "nameserver": "internet.com",
                                    "ip": "127.0.0.2"
                                }
                        ]
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
## Manage Domain Hosts [/v1/domains/{domain}/hosts/{id}]

### Update Domain Host [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

### Delete Domain Host [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

        
# Group DNS

## List [/v1/domains/{domain}/dns]

### Create new DNS record [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {[
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            ]}
            
+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "r_th4y4dgfehth"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

### Retrieve list of DNS records [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "records": [
                                {
                                        "id": "d_fg3qg4535y",
                                        "type": "MX",
                                        "content": "mx1.myshop.info",
                                        "ttl": 300,
                                        "priority": 10
                                },
                                {
                                        "id": "d_3y4thr4t3h",
                                        "type": "MX",
                                        "content": "mx2.myshop.info",
                                        "ttl": 300,
                                        "priority": 20
                                }
                        ]
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

## Manage DNS record [/v1/domains/{domain}/dns/{id}]
    
### Update DNS record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }

### Delete DNS record [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }
        
# Group Whois

## List [/v1/whois/{domain}]

### Retrieve whois info [GET]
Execute a whois lookup on the queried domain and return result.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "record": "Domain Name:AFILIAS.INFO\nDomain ID: D217-LRMS\nCreation Date: 2001-07-25T14:11:20Z\nUpdated Date: 2014-06-30T14:22:47Z\nRegistry Expiry Date: 2021-07-25T14:11:20Z\nSponsoring Registrar:Afilias Ltd. (R145-LRMS)\nSponsoring Registrar IANA ID: 700023\nWHOIS Server: \nReferral URL: \nDomain Status: ok\nRegistrant ID:C270-LRMS\nRegistrant Name:Afilias Limited\nRegistrant Organization:Afilias Ltd.\nRegistrant Street: 2 La Touche House\nRegistrant Street: IFSC\nRegistrant City:Dublin\nRegistrant State/Province:\nRegistrant Postal Code:1\nRegistrant Country:IE\nRegistrant Phone:+353.18541100\nRegistrant Phone Ext: \nRegistrant Fax: +1.2157065701\nRegistrant Fax Ext: \nRegistrant Email:support@afilias.info\nAdmin ID:C270-LRMS\nAdmin Name:Afilias Limited\nAdmin Organization:Afilias Ltd.\nAdmin Street: 2 La Touche House\nAdmin Street: IFSC\nAdmin City:Dublin\nAdmin State/Province:\nAdmin Postal Code:1\nAdmin Country:IE\nAdmin Phone:+353.18541100\nAdmin Phone Ext: \nAdmin Fax: +1.2157065701\nAdmin Fax Ext: \nAdmin Email:support@afilias.info\nBilling ID:C270-LRMS\nBilling Name:Afilias Limited\nBilling Organization:Afilias Ltd.\nBilling Street: 2 La Touche House\nBilling Street: IFSC\nBilling City:Dublin\nBilling State/Province:\nBilling Postal Code:1\nBilling Country:IE\nBilling Phone:+353.18541100\nBilling Phone Ext: \nBilling Fax: +1.2157065701\nBilling Fax Ext: \nBilling Email:support@afilias.info\nTech ID:C270-LRMS\nTech Name:Afilias Limited\nTech Organization:Afilias Ltd.\nTech Street: 2 La Touche House\nTech Street: IFSC\nTech City:Dublin\nTech State/Province:\nTech Postal Code:1\nTech Country:IE\nTech Phone:+353.18541100\nTech Phone Ext: \nTech Fax: +1.2157065701\nTech Fax Ext: \nTech Email:support@afilias.info\nName Server:A0.DIG.AFILIAS-NST.INFO\nName Server:B0.DIG.AFILIAS-NST.INFO\nName Server:C0.DIG.AFILIAS-NST.INFO\nName Server:D0.DIG.AFILIAS-NST.INFO\nDNSSEC:signedDelegation\nDS Created 1:2013-12-09T21:29:30Z\nDS Key Tag 1:32709\nAlgorithm 1:5\nDigest Type 1:2\nDigest 1:4B5D67729CE8180BBF93D0ACD78053262F68BCD402D0C947E54E74A553E5994A\nDS Maximum Signature Life 1:1814400 seconds\nDS Created 2:2013-12-09T21:29:30Z\nDS Key Tag 2:32709\nAlgorithm 2:5\nDigest Type 2:1\nDigest 2:BF4903176E0BE0664B511BFEAA4651A5CACCC733\nDS Maximum Signature Life 2:1814400 seconds"
                }
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }
        }

# Group UI

## List Menu for User Role [/v1/ui/menu/]

### Retrieve whois info [GET]
Execute a whois lookup on the queried domain and return result.

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
            "data":[{
                          "id": "u_145f4h2b", name:"Home Page", action:"controller/abc"
                }, {
                          "id": "u_94gh4627", name:"Contact", action:"controller/contact/abc",menu:[{name:"Edit Contact", action:"controller/contact/edit"}]
                }]
        }
        
+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }

# Group Contact

## Domain Contacts Management [/v1/contact]

### Add domain contact [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {
                "type": "registrant",
                "fullName": "Jonathan",
                "organization": "Acme Inc",
                "email": "example@gmailc.com",
                "address": "2 La Touche House",
                "street": "IFSC, Dublin 1",
                "city": "Dublin",
                "state": "Dublin",
                "postalCode": "12345",
                "country": "Ireland",
                "phoneType": "Home",
                "phoneNumber": "0862133343",
                "phoneExtension": "",
                "phoneType": "Mobile",
                "phoneCountryCode": "353",
                "faxType": "Work",
                "faxCountryCode": "353",
                "faxNumber": "17918569",
                "faxExtension": "",
                "organisation": "dotMobi",
                contactRegistrant: true
                contactAdministrative: false,
                contactTechnical: false,
                contactBilling: false
            }

+ Response 201 (application/json) 

        {  
                "data": [{  
                        "id": "c_th4y4dgfehth"
                }]
        }

+ Response 401 (application/json) 

        {  
                "errors": [{  
                        "code": 102,
                        "message": "Token unknown or already expired"
                }]
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 117,
                        "message": "Domain not found"
                }]
        }