FORMAT: 1A
HOST: https://api.internet.com/

# ASAP Reseller API
The ASAP Reseller API is a *registrar platform* offering for the Afilias ASAP reseller service.

# Group Token
General token authentication and handling.

## Token Generation [/v1/auth/token]
### Request new JWT token [POST]
+ Request
    
        { "reseller_id": "r_35gegsdfsdfbgbr", "email": "bob@example.com", "password": "secret1" }
        
+ Response 201 (application/json)

        { "success": 1, "token": "eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E", "id": "u_asfvlsajdfoasjf" }
        
## Token Refresh [/v1/auth/token/refresh]
### Update JWT token to avoid expiration [PUT]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "success": 1, "token": "abJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd44" }
        
+ Response 400 (text/plain)

        Token unknown or already expired. 
        
## Token Invalidation [/v1/auth/token/revoke]
### Force JWT token expiration [DELETE]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204

# Group Users
## User Retrieval [/v1/users/{user_id}]

+ Parameters
    + user_id (required, string, `u_345f4h2b`) ... User ID to retrieve.
    
### Retrieve a user [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        [{
          "id": "u_345f4h2b", "first_name": "Jonathon", "last_name": "Doe", "email": "jdoe@doe.com", ...
        }, {
          "id": "u_345f4h2b", "first_name": "J. E.", "last_name": "Smith", "email": "jonesmith@gmail.com", ...
        }]
        
## User Creation [/v1/user]
### Create a new user [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "reseller_id": "r_35gegsdfsr", "email": "bob@example.com", "password": "secret1", "first_name": "Bob", "last_name": "Smith" }
        
+ Response 201 (application/json)

        { "success": 1, "id": 23, ... }
        
+ Response 400 (text/plain)

        Body format invalid.
        
## List Users [/v1/users]
### List direct reseller admin users and customer users [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 201 (application/json)

        [{
          "id": 1, "first_name": "Alice", ...
        }, {
          "id": 2, "first_name": "Bob", ...
        }]
        
+ Response 400 (text/plain)

        Body format invalid.
        
## User Management [/v1/user/{id}]
+ Parameters
    + id (required, integer, `24`) ... User record id.

### Retrieve specific user [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        { "id": 1, "first_name": "Adam", "last_name", "Jones", "email": "ajones@yahoo.com", ... }

+ Response 400 (text/plain)

        User not found.

### Update user record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "user_id": 50, "first_name", "Sam", "last_name": "Spade", "email": "bob@example.com", ... }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid or user not found.

# Group Passwords
Password handling and reset.

## Change Request [/v1/password/forgot]
### Forgotten password email request [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "user_id": "u_345f4h2b" }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid.

## Change Request [/v1/password/forgot/{verification_id}]
### Change email request [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "user_id": "u_345f4h2b", "verification_token": "agerffsfv4g3qgqh" }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid.

# Group Verification
New user verification of the **ASAP API**

## Verify New User [/v1/verification/{verification_key}]
### Complete new user creation [GET]

+ Response 200 (application/json)

        { "success": 1 }

# Group Resellers
Reseller related resources of the **ASAP API**

## List sub-resellers [/v1/resellers]
### List all direct sub-resellers [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        [{
          "id": "r_dfb3gwfsdfefw", "name": "Web.com", ...
        }, {
          "id": "r_awrfedbe43tbe", "name": "1&1", ...
        }]

## Specific reseller [/v1/resellers/{reseller_id}]
### Retrieve products record [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1, "id": "r_zxfvebererfdfbdfv" }

### Update reseller record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "2&2", ... }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid or user not found.

## Specific reseller [/v1/resellers/{reseller_id}/product]
### Retrieve products record [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1, "id": "r_zxfvebererfdfbdfv" }

### Update reseller record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "2&2", ... }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid or user not found.

# Group Products
Product related resources of the **ASAP API**

## Product List [/v1/products]
### List all products [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        [{
          "id": 1, "name": "TLD", ...
        }, {
          "id": 2, "name": "goMobi", ...
        }]

## Bundles List [/v1/products/bundles]
### List  offers [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Bundle #1", ...
        }, {
          "id": 2, "title": "Bundle #2", ...
        }]

## Retrieve specific s upsells [/v1/products/{pid}/upsells]
### Retrieve s upsells record [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1, "id": "r_zxfvebererfdfbdfv" }

### Update reseller record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "2&2", ... }
        
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Body format invalid or user not found.


# Group TLDs
## TLD List [/v1/domains/tlds]
### List all available TLDs [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": 1, "tld": "organic", ...
        }, {
          "id": 2, "tld": "info", ...
        }]

## TLD Categories [/v1/s/tlds/categories]
### List all TLD categories [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": 1, "category": "business", ...
        }, {
          "id": 2, "category": "industry", ...
        }, {
          "id": 3, "category": "personal", ...
        }]

# Group Cart
Customer cart related resources of the **ASAP API**

## Manage Cart [/v1/users/{user_id}/cart/items]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.
    
### Retrieve a user's cart [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ...
        }, {
          "id": "i_asv5t3ggsdwfd", "name": ".Organic Domain", "value": "wholefoods" ...
        }]

### Add to user's cart [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }

+ Response 200 (application/json)

        { "success": 1 }

## Manage Cart Items [/v1/users/{user_id}/cart/items/{item_id}]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.
    + item_id (required, string, `i_asdf34fwrfgb`) ... Cart item id.

### Remove item from user's cart [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "i_45g3rsdfsdfsq" }

+ Response 204

### Update item in user's cart [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }

+ Response 200 (application/json)

        { "success": 1 }

## Reserving Domains [/v1/users/{user_id}/cart/items/{item_id}/reserve]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.
    + item_id (required, string, `i_asdf34fwrfgb`) ... Cart item id.

### Reserve a domain name [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1 }

## Cart Checkout [/v1/users/{user_id}/cart/checkout]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.

### Submit order and get order id [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1, "order_id": "o_fvdfb3gervsf2es" }

## Cart Complete [/v1/users/{user_id}/cart/complete]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.

### Send payment reference and finalize purchase [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1, "payment_id": "bluesnap_12345" }

# Group Wishlist
Wishlist related resources of the **ASAP API**

## Wistlist Management [/users/{user_id}/wishlist]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.

### Retrieve wishlist [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ...
        }, {
          "id": "i_asv5t3ggsdwfd", "name": ".Organic Domain", "value": "wholefoods" ...
        }]

### Add to wishlist [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": p_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }
            
+ Response 200 (application/json)

          { "success": 1 }

### Delete entire wishlist [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 204

## Manage wishlist items [/v1/users/{user_id}/wishlist/{wish_id}]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.

### Update wishlist item [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": p_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }
            
+ Response 200 (application/json)

        { "success": 1 }

### Delete wishlist item [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 204

# Group Orders
Orders related resources of the **ASAP API**

## List user's orders [/v1/users/{user_id}/orders]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.

### Retrieve list of user orders [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33", ...
        }, {
          "id": "o_asv5t3ggsdwfd", "created": "2014-02-27 10:30:18", ...
        }]

## List specific order [/v1/users/{user_id}/orders/{order_id}]
+ Parameters
    + user_id (required, string, `u_5g3gefwefwef`) ... User id.
    + order_id (required, string, `o_ssdf34wfgfgd`) ... ORder id.

### Retrieve a user order [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33", ... }

# Group Domains
Domain related resources of the **ASAP API**

## Check Availability [/v1/domain/{domain}/available]
+ Parameters
    + domain (required, string, `myshop.info`) ... Name of domain to check availability for.

### Check availability of specific domain [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "available": 1 }

## Suggest [/v1/domain-search/{query}]
Perform a domain name suggestions search: Recommended, Most popular

+ Parameters
    + query (required, string, `myshop`) ... String of the base name to spin domains for. 

### Retrieve list of domain suggestions [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }

## Suggest [/v1/domain-search/{query}/bulk]
Perform a bulk domain name suggestions search

+ Parameters
    + query (required, string, `myshop.info, myshophome.info, myshopweb.organic`) ... String of the base name to spin domains for. 

### Bulk domain search [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info, myshophome.info, myshopweb.organic,..."
        }

## Suggest [/v1/domain/{query}/tld-spin]
Perform a domain name suggestions search: Recommended, Most popular

+ Parameters
    + query (required, string, `myshop`) ... String of the base name to spin domains for. 

### Retrieve list of domain suggestions [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }

## Suggest [/v1/domain/{query}/domain-spin] 
Perform a domain name suggestions search, ("domain spinning") : Related

+ Parameters
    + query (required, string, `myshop`) ... String of the base name to spin domains for. 

### Retrieve list of domain suggestions [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }


## List My Domains [/v1/domain/list{?limit}{?offset}{?sortby}{?order}]

+ Parameters
    + limit (optional, integer, `10`) ... Limit result set (ie. only return X results).
    + offset (optional, integer, `10`) ... Offset result set (ie. return from result X).
    + sortby (optional, string, `name`) ... Sort result set by specific column.
    + order (optional, string, `asc`) ... Order result set either ASCending or DESCending.

### Retrieve list of my domains [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }
        
## Domain creation [/v1/domain/{domain}{?query}]
### Domain Creation & Update [POST]
Create a new domain name order
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {
            "domain": "myshop.info",
            "years": 2,
            "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...],
                "contact": [
                    {
                        "type": "registrant",
                        "first_name": "Jonathan",
                        "last_name": "Doe",
                        "organization": "Acme Inc",
                        "email": "",
                        "address1": "",
                        "address2": "",
                        "city": "",
                        "state": "",
                        "postal_code": "",
                        "country": "",
                        "phone1_type": "",
                        "phone1_country_code": "",
                        "phone1_number": "",
                        "phone1_extension": "",
                        "phone2_type": "",
                        "phone2_country_code": "",
                        "phone2_number": "",
                        "phone2_extension": "",
                        "fax1_type": "",
                        "fax1_country_code": "",
                        "fax1_number": ""
                    }
                ]
            }

+ Response 201 (application/json)

        { "success": 1 }

+ Response 400 (text/plain)

        Body format invalid.

## Domain info [/v1/domain/{domain}]
Retrieve domain details

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Retrieve full domain info, contacts, DNS records, nameservers, domain lock [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "domain": "myshop.info", ... }

+ Response 400 (text/plain)

        Unknown domain.

## Search [/v1/domain-search/{domain_name}]
Domain search

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Performs domain search [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "domain": "myshop.info", ... }

+ Response 400 (text/plain)

        Unknown domain.

## Domain lock [/v1/domain/{domain}/lock]
Set domain lock status

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Set current status of domain lock [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "lock": "on" }

## Domain Auto renew [/v1/domain/{domain}/auto-renew]
### Set/Get auto renew domain status

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Set current status of auto renew [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "auto_renew": "on/off" }

### Set current status of auto renew [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "auto_renew": "on/off" }

## Domain Auto renew [/v1/domain/{domain}/who-is-privacy]
### Set/Get 'who is privacy' status

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Set current status of whoisprivacy [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "whoisprivacy": "on/off" }

### Set current status of whoisprivacy [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        { "whoisprivacy": "on/off" }

## Nameservers [/v1/domain/{domain}/nameservers]
Update domain nameservers

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Update domain nameserver records [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...]
            }
            
+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        Unknown domain.

## Domain Contact Creation [/v1/domain/{domain}/contacts]
+ Parameters
    + domain (required, string, `myshop.info`) ... Domain name of new contact.

### Add domain contact records [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "contact": [
                    {
                        "type": "registrant",
                        "first_name": "Jonathan",
                        "last_name": "Doe",
                        "organization": "Acme Inc",
                        "email": "",
                        "address1": "",
                        "address2": "",
                        "city": "",
                        "state": "",
                        "postal_code": "",
                        "country": "",
                        "phone1_type": "",
                        "phone1_country_code": "",
                        "phone1_number": "",
                        "phone1_extension": "",
                        "phone2_type": "",
                        "phone2_country_code": "",
                        "phone2_number": "",
                        "phone2_extension": "",
                        "fax1_type": "",
                        "fax1_country_code": "",
                        "fax1_number": ""
                    }
                ]
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 

        The body format was invalid.

## Domain Contacts Management [/v1/domain/{domain}/contacts/{id}]
Update domain contacts record

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.
    + id (required, integer, `42`) ... Domain contact record id.
    
### Delete domain contact [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204 

### Update domain contact [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {
                "contact_id": 35,
                "contact": [
                    {
                        "type": "registrant",
                        "first_name": "Jonathan",
                        "last_name": "Doe",
                        "organization": "Acme Inc",
                        "email": "",
                        "address1": "",
                        "address2": "",
                        "city": "",
                        "state": "",
                        "postal_code": "",
                        "country": "",
                        "phone1_type": "",
                        "phone1_country_code": "",
                        "phone1_number": "",
                        "phone1_extension": "",
                        "phone2_type": "",
                        "phone2_country_code": "",
                        "phone2_number": "",
                        "phone2_extension": "",
                        "fax1_type": "",
                        "fax1_country_code": "",
                        "fax1_number": ""
                    }
                ]
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        The body format was invalid.

# Group URL Forwarding
URL forwarding related resources of the **ASAP API**

## Manage domain fowarding rules [/v1/domain/{domain}/forwarding]
+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name to list URL forwarding rules for.
    
### Retrieve list of URL forwarding rules [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "rules": [
                {
                    "rule_id": 56,
                    "pointing": "http://www.myothershop.info",
                    "type": "MASKED",
                    "page_title": "Forwarding Page"
                }
            ]
        }

+ Response 400 (text/plain)

        Unknown domain.

### Create forwarding rule record [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "page_title": "Forwarding Page"
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        The body format was invalid.

## Manage email fowarding [/v1/domain/{domain}/email]
+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name to list URL forwarding rules for.
    
### Retrieve list of URL forwarding rules [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

            {
            "domain": "myshop.info",
            "years": 2,
            "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...],
                "contact": [
                    {
                        "type": "registrant",
                        "first_name": "Jonathan",
                        "last_name": "Doe",
                        "organization": "Acme Inc",
                        "email": "",
                        "address1": "",
                        "address2": "",
                        "city": "",
                        "state": "",
                        "postal_code": "",
                        "country": "",
                        "phone1_type": "",
                        "phone1_country_code": "",
                        "phone1_number": "",
                        "phone1_extension": "",
                        "phone2_type": "",
                        "phone2_country_code": "",
                        "phone2_number": "",
                        "phone2_extension": "",
                        "fax1_type": "",
                        "fax1_country_code": "",
                        "fax1_number": ""
                    }
                ]
            }

+ Response 400 (text/plain)

        Unknown domain.

## Manage forwarding rule record [/v1/domain/{domain}/forwarding/{id}]
+ Parameters
    + domain (required, string, `myshop`) ... String of the base name to manage forwarding for. 
    + id (required, integer, `90`) ... Forwarding rule record id. 

### Delete forwarding rule record [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204
    
### Update forwarding rule record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "rule_id": 56,
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "page_title": "Forwarding Page"
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        The body format was invalid.

# Group DNS
DNS record related resources of the **ASAP API**

## List [/v1/domain/{domain}/dns]
+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name to list DNS records for.

### Retrieve list of DNS records [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "records": [
                {
                    "record_id": 32,
                    "type": "MX",
                    "content": "mx1.myshop.info",
                    "ttl": 300,
                    "priority": 10
                },
                {
                    "record_id": 33,
                    "type": "MX",
                    "content": "mx2.myshop.info",
                    "ttl": 300,
                    "priority": 20
                }
            ]
        }

+ Response 400 (text/plain)

        Unknown domain.

### Create new DNS record [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        The body format was invalid.

## Manage DNS record [/v1/domain/{domain}/dns/{id}]
+ Parameters
    + domain (required, string, `myshop.info`) ... Domain name to manage DNS records for.
    + id (required, integer, `90`) ... Domain DNS record id. 

### Delete DNS record [DELETE]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204
    
### Update DNS record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 201 (application/json)

        { "success": 1 }
        
+ Response 400 (text/plain)

        The body format was invalid.

## For future - Domain  [/v1/domains/{query}{?params}{?limit}{?offset}{?sortby}{?order}]

+ Parameters
    + query (required, string, `jon`) ... Query string for user search.
    + params (optional, string, `jon`) ... Query string for user search.
    + limit (optional, integer, `10`) ... Limit result set (ie. only return X results).
    + offset (optional, integer, `10`) ... Offset result set (ie. return from result X).
    + sortby (optional, string, `name`) ... Sort result set by specific column.
    + order (optional, string, `asc`) ... Order result set either ASCending or DESCending.
    
### Domains [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        [{
          "id": 1, "first_name": "Jonathon", "last_name": "Doe", "email": "jdoe@doe.com", ...
        }, {
          "id": 2, "first_name": "J. E.", "last_name": "Smith", "email": "jonesmith@gmail.com", ...
        }]

### Domains [POST]
Create a new domain name order
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {
            "domain": "myshop.info",
            "years": 2,
            "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...],
                "contact": [
                    {
                        "type": "registrant",
                        "first_name": "Jonathan",
                        "last_name": "Doe",
                        "organization": "Acme Inc",
                        "email": "",
                        "address1": "",
                        "address2": "",
                        "city": "",
                        "state": "",
                        "postal_code": "",
                        "country": "",
                        "phone1_type": "",
                        "phone1_country_code": "",
                        "phone1_number": "",
                        "phone1_extension": "",
                        "phone2_type": "",
                        "phone2_country_code": "",
                        "phone2_number": "",
                        "phone2_extension": "",
                        "fax1_type": "",
                        "fax1_country_code": "",
                        "fax1_number": ""
                    }
                ]
            }

+ Response 201 (application/json)

        { "success": 1 }

+ Response 400 (text/plain)

        Body format invalid.

## For future - Reseller  [/v1/resellers/{query}{?limit}{?offset}{?sortby}{?order}]

+ Parameters
    + query (required, string, `jon`) ... Query string for reseller id/name.
    + limit (optional, integer, `10`) ... Limit result set (ie. only return X results).
    + offset (optional, integer, `10`) ... Offset result set (ie. return from result X).
    + sortby (optional, string, `name`) ... Sort result set by specific column.
    + order (optional, string, `asc`) ... Order result set either ASCending or DESCending.
    
### Reseller [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        [{
          "id": 1, "first_name": "Jonathon", "last_name": "Doe", "email": "jdoe@doe.com", ...
        }, {
          "id": 2, "first_name": "J. E.", "last_name": "Smith", "email": "jonesmith@gmail.com", ...
        }]
        
## For future - Product  [/v1/products/{query}{?limit}{?offset}{?sortby}{?order}]

+ Parameters
    + query (required, string, `jon`) ... Query string for product search.
    + limit (optional, integer, `10`) ... Limit result set (ie. only return X results).
    + offset (optional, integer, `10`) ... Offset result set (ie. return from result X).
    + sortby (optional, string, `name`) ... Sort result set by specific column.
    + order (optional, string, `asc`) ... Order result set either ASCending or DESCending.
    
### Product [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        [{
          "id": 1, "first_name": "Jonathon", "last_name": "Doe", "email": "jdoe@doe.com", ...
        }, {
          "id": 2, "first_name": "J. E.", "last_name": "Smith", "email": "jonesmith@gmail.com", ...
        }]
        
## For future - Bundles  [/v1/bundles/{query}{?limit}{?offset}{?sortby}{?order}]

+ Parameters
    + query (required, string, `jon`) ... Query string for user search.
    + limit (optional, integer, `10`) ... Limit result set (ie. only return X results).
    + offset (optional, integer, `10`) ... Offset result set (ie. return from result X).
    + sortby (optional, string, `name`) ... Sort result set by specific column.
    + order (optional, string, `asc`) ... Order result set either ASCending or DESCending.
    
### Bundles [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        [{
          "id": 1, "first_name": "Jonathon", "last_name": "Doe", "email": "jdoe@doe.com", ...
        }, {
          "id": 2, "first_name": "J. E.", "last_name": "Smith", "email": "jonesmith@gmail.com", ...
        }]
        
# Group Whois
Whois lookup service of the **ASAP API**

## List [/v1/whois/{domain}]
+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name to list whois info for.

### Retrieve list of whois info [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (text/plain)

        Domain Name:AFILIAS.INFO
        Domain ID: D217-LRMS
        Creation Date: 2001-07-25T14:11:20Z
        Updated Date: 2014-06-30T14:22:47Z
        Registry Expiry Date: 2021-07-25T14:11:20Z
        Sponsoring Registrar:Afilias Ltd. (R145-LRMS)
        Sponsoring Registrar IANA ID: 700023
        WHOIS Server: 
        Referral URL: 
        Domain Status: ok
        Registrant ID:C270-LRMS
        Registrant Name:Afilias Limited
        Registrant Organization:Afilias Ltd.
        Registrant Street: 2 La Touche House
        Registrant Street: IFSC
        Registrant City:Dublin
        Registrant State/Province:
        Registrant Postal Code:1
        Registrant Country:IE
        Registrant Phone:+353.18541100
        Registrant Phone Ext: 
        Registrant Fax: +1.2157065701
        Registrant Fax Ext: 
        Registrant Email:support@afilias.info
        Admin ID:C270-LRMS
        Admin Name:Afilias Limited
        Admin Organization:Afilias Ltd.
        Admin Street: 2 La Touche House
        Admin Street: IFSC
        Admin City:Dublin
        Admin State/Province:
        Admin Postal Code:1
        Admin Country:IE
        Admin Phone:+353.18541100
        Admin Phone Ext: 
        Admin Fax: +1.2157065701
        Admin Fax Ext: 
        Admin Email:support@afilias.info
        Billing ID:C270-LRMS
        Billing Name:Afilias Limited
        Billing Organization:Afilias Ltd.
        Billing Street: 2 La Touche House
        Billing Street: IFSC
        Billing City:Dublin
        Billing State/Province:
        Billing Postal Code:1
        Billing Country:IE
        Billing Phone:+353.18541100
        Billing Phone Ext: 
        Billing Fax: +1.2157065701
        Billing Fax Ext: 
        Billing Email:support@afilias.info
        Tech ID:C270-LRMS
        Tech Name:Afilias Limited
        Tech Organization:Afilias Ltd.
        Tech Street: 2 La Touche House
        Tech Street: IFSC
        Tech City:Dublin
        Tech State/Province:
        Tech Postal Code:1
        Tech Country:IE
        Tech Phone:+353.18541100
        Tech Phone Ext: 
        Tech Fax: +1.2157065701
        Tech Fax Ext: 
        Tech Email:support@afilias.info
        Name Server:A0.DIG.AFILIAS-NST.INFO
        Name Server:B0.DIG.AFILIAS-NST.INFO
        Name Server:C0.DIG.AFILIAS-NST.INFO
        Name Server:D0.DIG.AFILIAS-NST.INFO
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        Name Server: 
        DNSSEC:signedDelegation
        DS Created 1:2013-12-09T21:29:30Z
        DS Key Tag 1:32709
        Algorithm 1:5
        Digest Type 1:2
        Digest 1:4B5D67729CE8180BBF93D0ACD78053262F68BCD402D0C947E54E74A553E5994A
        DS Maximum Signature Life 1:1814400 seconds
        DS Created 2:2013-12-09T21:29:30Z
        DS Key Tag 2:32709
        Algorithm 2:5
        Digest Type 2:1
        Digest 2:BF4903176E0BE0664B511BFEAA4651A5CACCC733
        DS Maximum Signature Life 2:1814400 seconds

+ Response 400 (text/plain)

        Unknown domain.
        
