FORMAT: 1A
HOST: https://api.internet.com/

# ASAP Reseller API
The ASAP Reseller API is a *platform* offering from Afilias. This document is a living document, a work in progress. Temporary comments are in () brackets. 

# Group Token
General token authentication and handling.

## Token Generation [/v1/auth/token]

### Request new JWT token [POST]

+ Request
    
        { "reseller_key": "dfservev35gegsdfsdfbgbr", "email": "bob@example.com", "password": "secret1" }
        
+ Response 201 (application/json)

        {  
                "data": {
                        "token": "eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E", 
                        "id": "u_asfvlsajdfoasjf" 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Login failed"
                }]
        }
        
## Token Refresh [/v1/auth/token/refresh]

### Update JWT token to avoid expiration [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 201 (application/json)

        {  
                "data": {
                        "token": "abJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd44" 
                }
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Token unknown or already expired"
                }]
        }

## Token Invalidation [/v1/auth/token/revoke]

### Force JWT token expiration [DELETE]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204

# Group Users

## Users [/v1/users]

### Create a new user [POST]
(Creating a new user should map the guest user token in use to the new user and keep their token valid.)

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "reseller_id": "r_35gegsdfsr", "email": "bob@example.com", "password": "secret1", "first_name": "Bob", "last_name": "Smith" }
        
+ Response 201 (application/json)

        {  
                "data": {
                        "id": "u_345f4h2b" 
                }
        }
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Operation failed"
                }]
        }

### List all users [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 201 (application/json)

        {  
                "data": [{
                          "id": "u_145f4h2b", "first_name": "Alice", ...
                }, {
                          "id": "u_94gh4627", "first_name": "Bob", ...
                }]
        }
        
## User Management [/v1/users/{id}]

### Retrieve specific user [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {  
                "data": {
                        "id": "u_145f4h2b", "first_name": "Adam", "last_name", "Jones", "email": "ajones@yahoo.com", ... 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

### Update user record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "first_name", "Sam", "last_name": "Spade", "email": "bob@example.com", ... }
        
+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

# Group Passwords
Password handling and reset.

## Forgotten Password Email Request [/v1/password/forgot]

### Request forgotten email password email [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "email": "bob@example.com" }
        
+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

### Forgotten password verified change request [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "verification_code": "t5fgftehved24tege", "password": "secret2" }
        
+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Verification code not found"
                }]
        }

# Group Verification
New user verification of the **ASAP API**

## Verify New User [/v1/verification/{verification_key}]

### Complete new user creation by verifying email address [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": { }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Verification code not found"
                }]
        }
        
## Resend Verification Link [/v1/verification]

### Request to resend activation email with verification link [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "email": "bob@example.com" }

+ Response 200

## Check email address availability [/v1/verification/email/{email}]

### Check to see if an email address is already used by another user [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Email address does not exist"
                }]
        }

# Group Resellers
Reseller related resources of the **ASAP API**

## Create Reseller [/v1/resellers]

### Create a new reseller [POST]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            { "name": "Web.com", ... }

+ Response 201 (application/json)

        {  
                "data": {
                        "id": "r_th4y4dgfehth" 
                }
        }

### Retrieve reseller records [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "r_zxfveberbdfv", "name": "Web.com", ...
                }, { 
                        "id": "r_bcxbthrdfggs", "name":, "1&1", ...
                }]
        }

## Specific reseller [/v1/resellers/{reseller_id}]

### Retrieve reseller record [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "id": "r_zxfvebererfdfbdfv", "name": "Web.com", ...
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Reseller not found"
                }]
        }

### Update reseller record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "2&2", ... }
        
+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Reseller not found"
                }]
        }

## List sub-resellers [/v1/resellers/{reseller_id}/sub-resellers]

### List all direct sub-resellers [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "r_dfb3gwfsdfefw", "name": "Web.com", ...
                }, {
                        "id": "r_awrfedbe43tbe", "name": "1&1", ...
                }]
        }

# Group Reseller Products

## List resellers products [/v1/resellers/{reseller_id}/products]

### List all reseller products [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "p_asfar34t4f2f", "name": "TLD", "description": ".info", "category": "business", "price": "9.99"
                }, {
                          "id": "p_fgffr3134ddb", "name": "TLD", "description": ".com", "category": "business",  "price": "9.99"
                }, {
                          "id": "p_abbar34t4ffn", "name": "TLD", "description": ".organic", "category": "commercial",  "price": "19.99"
                }, {
                          "id": "p_q35a034t4f4m", "name": "TLD", "description": ".io", "category": "personal",  "price": "49.99"
                }, {
                          "id": "p_zsfau344h62b", "name": "TLD", "description": ".mobi", "category": "business",  "price": "19.99"
                }, {
                          "id": "p_adtrgt55353q", "name": "goMobi", "description": "Website builder package", "category": "", "price": "20.00"
                }]
        }

## Manage resellers products [/v1/resellers/{reseller_id}/products/{product_id}]

### Update reseller product [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "id": "p_asdf3fcv", "name": "goMobi", ... }

+ Response 200 (application/json)

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Product not found"
                }]
        }

# Group Reseller Bundles

## List resellers bundles [/v1/resellers/{reseller_id}/bundles]

### List all reseller bundles [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "b_wfsdfefw", "name": "Startup Bunble", ...
                }, {
                        "id": "b_dbe43tbe", "name": "Mega Bundle", ...
                }]
        }

## Manage resellers bundles [/v1/resellers/{reseller_id}/bundles/{bundle_id}]

### Update reseller bundles [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "id": "b_asdf3fcv", "name": "Mini Bundle", ... }

+ Response 200 (application/json)

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Bundle not found"
                }]
        }

# Group Products

Product related resources of the **ASAP API**

## Product List [/v1/products]

### List all products [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "p_asfar34t4f2f", "name": "TLD", "description": ".info", "category": "business", "price": "9.99"
                }, {
                          "id": "p_fgffr3134ddb", "name": "TLD", "description": ".com", "category": "business",  "price": "9.99"
                }, {
                          "id": "p_abbar34t4ffn", "name": "TLD", "description": ".organic", "category": "commercial",  "price": "19.99"
                }, {
                          "id": "p_q35a034t4f4m", "name": "TLD", "description": ".io", "category": "personal",  "price": "49.99"
                }, {
                          "id": "p_zsfau344h62b", "name": "TLD", "description": ".mobi", "category": "business",  "price": "19.99"
                }, {
                          "id": "p_adtrgt55353q", "name": "goMobi", "description": "Website builder package", "category": "", "price": "20.00"
                }]
        }

## Retrieve Specific Product [/v1/products/{product_id}]

### Get a specific product [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": {
                          "id": "p_asfar34t4f2f", "name": "TLD", ...
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Product not found"
                }]
        }

### Update a specific product [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
    + Body

            { "name": "TLD", ... } 

+ Response 200 (application/json)

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Product not found"
                }]
        }

# Group Bundles

## Bundles List [/v1/products/bundles]

### List all bundles [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        {  
                "data": [{
                          "id": "b_asffreb4432", "title": "Bundle #1", ...
                }, {
                          "id": "b_a34t3gb2668", "title": "Bundle #2", ...
                }]
        }

### Create new bundle [POST]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "title": "The Bundle", ... }

+ Response 201 (application/json)

        {  
                "data": {
                        "id": "b_ryrh45y4tth" 
                }
        }

## Update Bundle [/v1/products/bundles/{bundle_id}]

### Update an existing bundle [PUT]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "title": "The Bundle", ... }
            
+ Response 200 (application/json)

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Bundle not found"
                }]
        }

# Group Cart

Customer cart related resources of the **ASAP API**

## Manage Cart [/v1/users/{user_id}/cart/items]

### Add to user's cart [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "name": "goMobi", "value": "", ... }

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }
    
### Retrieve a user's cart [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ...
                }, {
                        "id": "i_asv5t3ggsdwfd", "name": ".Organic Domain", "value": "wholefoods" ...
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

## Manage Cart Items [/v1/users/{user_id}/cart/items/{item_id}]

### Update item in user's cart [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "quantity": 5 }

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

### Remove item from user's cart [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "i_45g3rsdfsdfsq" }

+ Response 204

## Reserving Domains [/v1/users/{user_id}/cart/items/{item_id}/reserve]

### Reserve a domain name [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

## Cart Checkout [/v1/users/{user_id}/cart/checkout]

### Submit order and get order id [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "order_id": "o_fvdfb3gervsf2es" 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

## Cart Complete [/v1/users/{user_id}/cart/complete]

### Send payment reference and finalize purchase [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "encrypted_card_number": "xxxxxxxxxxxxxxx", "encrypted_card_ccv": "xxx" }

+ Response 200 (application/json)

        {  
                "data": {
                        "payment_id": "bluesnap_12345" 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

# Group Wishlist

Wishlist related resources of the **ASAP API**

## Wistlist Management [/users/{user_id}/wishlist]

### Add to wishlist [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "p_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }
            
+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

### Retrieve wishlist [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "i_45g3rsdfsdfsq", "name": "goMobi", "value": "", ...
                }, {
                        "id": "i_asv5t3ggsdwfd", "name": ".Organic Domain", "value": "wholefoods" ...
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

## Manage wishlist items [/v1/users/{user_id}/wishlist/{wish_id}]

### Update wishlist item [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "id": "p_45g3rsdfsdfsq", "name": "goMobi", "value": "", ... }
            
+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

### Delete wishlist item [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 204

# Group Orders

Orders related resources of the **ASAP API**

## List user's orders [/v1/users/{user_id}/orders]

### Retrieve all user orders [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": [{
                        "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33", ...
                }, {
                        "id": "o_asv5t3ggsdwfd", "created": "2014-02-27 10:30:18", ...
                }]
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

## Retrieve specific order [/v1/users/{user_id}/orders/{order_id}]

### Retrieve a specific user order [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "id": "o_45g3rsdfsdfsq", "created": "2014-01-16 12:04:33", ... 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "User not found"
                }]
        }

# Group Domains

Domain related resources of the **ASAP API**

## Check Availability [/v1/domains/{domain}/available]

### Check availability of specific domain [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "available": true 
                }
        }

## Suggest - TLD Spin [/v1/domains/{query}/tld-spin]

### Retrieve list of domain suggestions [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "data": [{
                    "domain": "myshop.info",
                    "category": "business",
                    "price": "12.99"
            }, {
                    "domain": "myshop.guru", 
                    "category": "personal", 
                    "price": "15.00"
            }, {
                    "domain": "myshop.red",
                    "category": "leisure",
                    "price": "9.99"
            }]
        }

## Suggest - Domain & TLD Spin [/v1/domains/{query}/domain-spin] 

### Retrieve list of domain suggestions [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "data": [{
                    "domain": "myshop.info",
                    "category": "business",
                    "price": "12.99"
            }, {
                    "domain": "myshophome.info", 
                    "category": "personal", 
                    "price": "15.00"
            }, {
                    "domain": "myshopweb.organic",
                    "category": "leisure",
                    "price": "9.99"
            }]
        }

## List User Domains [/v1/users/{user_id}/domains]

### Retrieve list of my domains [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        {  
                "data": {
                        [ "myshop.info", "myshophome.info", "myshopweb.organic" ]
                }
        }

## Domain info [/v1/user/{user_id}/domains/{domain}]

### Retrieve full domain info, contacts, DNS records, nameservers, domain lock, etc [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "domain": "myshop.info", ... 
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Domain lock [/v1/domains/{domain}/lock]

### Set current status of domain lock [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "lock": true }

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Domain Auto Renew [/v1/domains/{domain}/auto-renew]

### Set current status of auto renew [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            { "auto_renew": "on" }

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Domain Whois Privacy [/v1/domains/{domain}/whois-privacy]

### Set current status of whois privacy [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

   + Body

            { "whois-privacy": true }

+ Response 200

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Domain Nameservers [/v1/domains/{domain}/nameservers]

### Update domain nameserver records [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...]
            }
            
+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Domain Contacts Management [/v1/domains/{domain}/contacts/{id}]

### Update domain contact [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
            {
                "type": "registrant",
                "first_name": "Jonathan",
                "last_name": "Doe",
                "organization": "Acme Inc",
                "email": "",
                "address1": "",
                "address2": "",
                "city": "",
                "state": "",
                "postal_code": "",
                "country": "",
                "phone1_type": "",
                "phone1_country_code": "",
                "phone1_number": "",
                "phone1_extension": "",
                "phone2_type": "",
                "phone2_country_code": "",
                "phone2_number": "",
                "phone2_extension": "",
                "fax1_type": "",
                "fax1_country_code": "",
                "fax1_number": ""
            }

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

# Group URL Forwarding
URL forwarding related resources of the **ASAP API**

## Manage domain fowarding rules [/v1/domains/{domain}/forwarding]

### Create forwarding rule record [POST]
+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "page_title": "Forwarding Page"
            }

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }
    
### Retrieve list of URL forwarding rules [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "rules": [
                                {
                                        "id": "ru_34effrth45y4",
                                        "pointing": "http://www.myothershop.info",
                                        "type": "MASKED",
                                        "page_title": "Forwarding Page"
                                }
                        ]
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Manage forwarding rule record [/v1/domains/{domain}/forwarding/{id}]

### Update forwarding rule record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "id": "ru_asdfer345345",
                "pointing": "http://www.myothershop.info",
                "type": "MASKED",
                "page_title": "Forwarding Page"
            }

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

### Delete forwarding rule record [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 204

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

# Group DNS
DNS record related resources of the **ASAP API**

## List [/v1/domains/{domain}/dns]

### Create new DNS record [POST]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

### Retrieve list of DNS records [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "records": [
                                {
                                        "id": "d_fg3qg4535y",
                                        "type": "MX",
                                        "content": "mx1.myshop.info",
                                        "ttl": 300,
                                        "priority": 10
                                },
                                {
                                        "id": "d_3y4thr4t3h",
                                        "type": "MX",
                                        "content": "mx2.myshop.info",
                                        "ttl": 300,
                                        "priority": 20
                                }
                        ]
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

## Manage DNS record [/v1/domains/{domain}/dns/{id}]
    
### Update DNS record [PUT]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body

            {
                "type": "MX",
                "content": "mx1.myshop.info",
                "ttl": 300,
                "priority": 10
            }

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }

### Delete DNS record [DELETE]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200
        
+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }]
        }
        
# Group Whois
Whois lookup service of the **ASAP API**

## List [/v1/whois/{domain}]

### Retrieve list of whois info [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "record": "Domain Name:AFILIAS.INFO\nDomain ID: D217-LRMS\nCreation Date: 2001-07-25T14:11:20Z\nUpdated Date: 2014-06-30T14:22:47Z\nRegistry Expiry Date: 2021-07-25T14:11:20Z\nSponsoring Registrar:Afilias Ltd. (R145-LRMS)\nSponsoring Registrar IANA ID: 700023\nWHOIS Server: \nReferral URL: \nDomain Status: ok\nRegistrant ID:C270-LRMS\nRegistrant Name:Afilias Limited\nRegistrant Organization:Afilias Ltd.\nRegistrant Street: 2 La Touche House\nRegistrant Street: IFSC\nRegistrant City:Dublin\nRegistrant State/Province:\nRegistrant Postal Code:1\nRegistrant Country:IE\nRegistrant Phone:+353.18541100\nRegistrant Phone Ext: \nRegistrant Fax: +1.2157065701\nRegistrant Fax Ext: \nRegistrant Email:support@afilias.info\nAdmin ID:C270-LRMS\nAdmin Name:Afilias Limited\nAdmin Organization:Afilias Ltd.\nAdmin Street: 2 La Touche House\nAdmin Street: IFSC\nAdmin City:Dublin\nAdmin State/Province:\nAdmin Postal Code:1\nAdmin Country:IE\nAdmin Phone:+353.18541100\nAdmin Phone Ext: \nAdmin Fax: +1.2157065701\nAdmin Fax Ext: \nAdmin Email:support@afilias.info\nBilling ID:C270-LRMS\nBilling Name:Afilias Limited\nBilling Organization:Afilias Ltd.\nBilling Street: 2 La Touche House\nBilling Street: IFSC\nBilling City:Dublin\nBilling State/Province:\nBilling Postal Code:1\nBilling Country:IE\nBilling Phone:+353.18541100\nBilling Phone Ext: \nBilling Fax: +1.2157065701\nBilling Fax Ext: \nBilling Email:support@afilias.info\nTech ID:C270-LRMS\nTech Name:Afilias Limited\nTech Organization:Afilias Ltd.\nTech Street: 2 La Touche House\nTech Street: IFSC\nTech City:Dublin\nTech State/Province:\nTech Postal Code:1\nTech Country:IE\nTech Phone:+353.18541100\nTech Phone Ext: \nTech Fax: +1.2157065701\nTech Fax Ext: \nTech Email:support@afilias.info\nName Server:A0.DIG.AFILIAS-NST.INFO\nName Server:B0.DIG.AFILIAS-NST.INFO\nName Server:C0.DIG.AFILIAS-NST.INFO\nName Server:D0.DIG.AFILIAS-NST.INFO\nDNSSEC:signedDelegation\nDS Created 1:2013-12-09T21:29:30Z\nDS Key Tag 1:32709\nAlgorithm 1:5\nDigest Type 1:2\nDigest 1:4B5D67729CE8180BBF93D0ACD78053262F68BCD402D0C947E54E74A553E5994A\nDS Maximum Signature Life 1:1814400 seconds\nDS Created 2:2013-12-09T21:29:30Z\nDS Key Tag 2:32709\nAlgorithm 2:5\nDigest Type 2:1\nDigest 2:BF4903176E0BE0664B511BFEAA4651A5CACCC733\nDS Maximum Signature Life 2:1814400 seconds"
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Domain not found"
                }
        }
        
# Group ASync Processes
(There is debate over whether we need this endpoint.)

## ASync Status [/v1/status/{reference_id}]

### Querying the current status of the process [GET]

+ Request
    + Headers
    
            Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {  
                "data": {
                        "reference": "TRXPROC-1234", 
                        "message": "Problem in processing", 
                        "errors": [{
                            "code":121, 
                            "message": "Card expired"
                        }
                }
        }

+ Response 404 (application/json) 

        {  
                "errors": [{  
                        "code": 1234,
                        "message": "Process not found"
                }]
        }