FORMAT: 1A
HOST: http://www.google.com

# ASAP Reseller API
The ASAP Reseller API is a *registrar platform* offering for ASAP reseller website and services. 

# Group User
General user management and authentication handling

## User Token Authentication [/v1/user/token]
### Request new JWT token [GET]
+ Response 200 (application/json)

        { "success": 1, "token": "eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E" }

### Update JWT token to avoid expiration [PUT]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1 }

## User Search [/v1/user/]
### Retrieve a user [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com" }
        
+ Response 200 (application/json)

        { "id": 1, ... }

## User Management [/v1/user/{id}]
### Retrieve a user [GET]
+ Request
    + Parameters
        + id (required, int) ... ID of the required user.
            
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
        
+ Response 200 (application/json)

        { "id": 1, ... }
            
### Create a new user [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com", "password": "secret1" }
        
+ Response 200 (application/json)

        { "success": 1, "id": 23, ... }

### Update user record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com", ... }
        
+ Response 200 (application/json)

        { "success": 1 }

## User Login [/v1/login]
### Returning user login [POST]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Request (application/json)

        { "email": "bob@example.com", "password": "secret1" }
        
+ Response 200 (application/json)

        { "success": 1, "id": 23, ... }

## User Logout [/v1/logout]
### Returning user logout [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        { "success": 1 }

# Group Products
Product related resources of the **ASAP API**

## Product List [/v1/products]
### List all products [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        [{
          "id": 1, "name": "TLD", ...
        }, {
          "id": 2, "name": "goMobi", ...
        }]

## Offers List [/v1/offers]
### List product offers [GET]
+ Request
    + Headers

            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
            
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Bundle #1", ...
        }, {
          "id": 2, "title": "Bundle #2", ...
        }]

# Group Customers
Customer related resources of the **ASAP API**

## Customers [/customers{?id}{?email}]
Creating and managing customer objects


### Retrieve a customer [GET]
+ Parameters
    
    + id (optional, int) ... ID of the required customer.
    + email (optional, string) ... Email address of the required customer.

+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E
    
+ Response 200 (application/json)

        { "id": 1, ... }

### Create a new customer [POST]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com", "password": "secret1" }
        
+ Response 200 (application/json)

        { "success": 1, "id": 23, ... }

### Update customer record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com", ... }
        
+ Response 200 (application/json)

        { "success": 1 }

# Group TLDs
TLD related resources of the **ASAP API**

## TLD List [/tlds/list]
### List all available TLDs [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": 1, "tld": "organic", ...
        }, {
          "id": 2, "tld": "info", ...
        }]

## TLD Categories [/tlds/categories]
### List all TLD categories [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        [{
          "id": 1, "category": "business", ...
        }, {
          "id": 2, "category": "industry", ...
        }, {
          "id": 3, "category": "personal", ...
        }]

# Group Domains
Domain related resources of the **ASAP API**

## Search [/domain/search/{query}]
Perform a domain name search, ("domain spinning")

+ Parameters
    + query (required, string, `myshop`) ... String of the base name to spin domains for. 

### Retrieve list of suggestions [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }

## Domain creation [/domain/create]
### Domain Creation [post]
Create a new domain name order
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

    + Body
    
        {
            "domain": "myshop.info",
            "years": 2,
            "nameservers": ["ns1.myseller.info", "ns2.myreseller.info", ...],
            "contacts": [
                {
                    "type": "registrant",
                    "first_name": "Jonathan",
                    "last_name": "Doe",
                    "organization": "Acme Inc",
                    "email": "",
                    "address1": "",
                    "address2": "",
                    "city": "",
                    "state": "",
                    "postal_code": "",
                    "country": "",
                    "phone1_type": "",
                    "phone1_country_code": "",
                    "phone1_number": "",
                    "phone1_extension": "",
                    "phone2_type": "",
                    "phone2_country_code": "",
                    "phone2_number": "",
                    "phone2_extension": "",
                    "fax1_type": "",
                    "fax1_country_code": "",
                    "fax1_number": ""
                }
            ]
        }
    
        
+ Response 200 (application/json)

        { "success": 1 }
    
## Domain creation [/domain/suggest/{query}]
### Domain Creation [post]
### Retrieve list of domain suggestions [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        {
            "myshop.info", "myshophome.info", "myshopweb.organic", ...
        }

## Domain managerment [/domain/{domain}]
Retrieve and manage domain details using FQDN

+ Parameters
    + domain (required, string, `myshop.info`) ... String of the domain name.

### Retrieve domain info, contacts, DNS records, nameservers [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Response 200 (application/json)

        { "success": 1 }

### Update domain contact records [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "fqdn": "myshop.info", ... }
        
+ Response 200 (application/json)

        { "success": 1 }


# Group Domains
User related resources of the **ASAP API**

## Domain [/domains/{fqdn}]
Creating and managing domain objects

### Retrieve a domain [GET]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "fqd": "bob@example.com" }
        
+ Response 200 (application/json)

        { "id": 1, ... }
            
### Create a new user [POST]
+ Request (application/json)

        { "email": "bob@example.com", "password": "secret1" }
        
+ Response 200 (application/json)

        { "success": 1, "id": 23, ... }

### Update user record [PUT]
+ Request
    + Headers
    
            Token: eyJhbGciOiJSUzI1NiIsImtp.zpsEabFfYMGkbIZCrayNoVD47DEuFl1Qveqd2E

+ Request (application/json)

        { "email": "bob@example.com", ... }
        
+ Response 200 (application/json)

        { "success": 1 }
        
        
        